/* Style CSS */

body {
    zoom: 1.6
}

h1 {
    font-size: xx-large;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(35, 3, 53);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

p {
    text-align: center;
}   

p#clique {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

img {
    widows: 200px;
    height:200px;
    margin-left: 240pt;
}


footer#name {
    text-align: center;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}