/* Style CSS */

body {
    zoom: 1.6
}

h1 {
    font-size: xx-large;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(35, 3, 53);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

img {
    widows: 200px;
    height:200px;
    margin-left: 250pt;
}

footer#name {
    margin-left: 250pt;
    margin-top: 20px;
}